<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASU Restaurante</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>ASU Restaurante</h1><br>
                    <p>Cozinha autoral por Danilo Takigawa</p>
                </div>
                <div class="col-lg-6">
                    <a href="#" class="instagram-link"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </header>

    <section class="cardapio-section spad" id="cardapio">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Cardápio</h2>
                    <a href="https://livemenu.app/menu/644a87527ac86600547449e3" class="btn btn-primary" target="_blank">Cardápio</a>
                </div>
            </div>
        </div>
    </section>

    <section class="reservas-section spad" id="reservas">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Reservas</h2>
                    <a href="https://reservation-widget.tagme.com.br/reservation/schedule/644a87527ac86600547449e3/reservationWidget" class="btn btn-primary" target="_blank">Reservar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="sobre-section spad" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Contato</h2>
                    <a href="https://api.whatsapp.com/message/H5MTYIVD2HMQP1?autoload=1&app_absent=0" class="btn btn-primary" target="_blank">Mensagem</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section text-center">
        <div class="container">
            <p>&copy; 2024 ASU Restaurante. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
